


@media only screen and (max-width: 991px) {
    .main__logo--img {
        max-width: 241px;
    }
    .offcanvas__stikcy--toolbar{
        display: none;
        visibility: hidden;
    }
}

@media only screen and (max-width: 575px) {
    .main__logo--img {
        max-width: 214px;
    }
}
@media only screen and (min-width: 1200px) {
    .services__card--link {
        padding: 2rem;
    }
}



@media(max-width: 550px) {
    .contents-wraper .indicators {
        bottom: 0;
        left: 50%;
    }
}


@media(max-width: 550px) {
    .container .contents-wraper {
        width: 90%;
    }

    .contents-wraper .header h1 {
        font-size: 32px;
    }

    .testRow .testItem h3 {
        font-size: 26px;
    }

    .testRow .testItem p {
        font-size: 16px;
        letter-spacing: initial;
        line-height: initial;
    }

}


@media(max-width:991px){
    .nav-logo {
        display: none;
    }
}
